<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>숙소 목록</title>
</head>
<body>
<h1>Room List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Content</th>
        <th>Address</th>
        <th>Price</th>
        <th>Use Guide</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>user_email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${roomsPage.rooms}">
        <td th:text="${room.room_id}"></td>
        <td th:text="${room.name}"></td>
        <td th:text="${room.content}"></td>
        <td th:text="${room.address}"></td>
        <td th:text="${room.price}"></td>
        <td th:text="${room.use_guide}"></td>
        <td th:text="${room.latitude}"></td>
        <td th:text="${room.longitude}"></td>
        <td th:text="${room.user_email}"></td>
    </tr>
    </tbody>
</table>

<!-- Pagination -->
<div>
    <a th:if="${roomsPage.prev}" th:href="@{/admin(page=${roomsPage.start - 1})}">Previous</a>
    <span th:each="i : ${#numbers.sequence(roomsPage.start, roomsPage.end)}">
            <a th:href="@{/admin(page=${i})}" th:text="${i}" th:classappend="${i == roomsPage.page} ? 'active' : ''"></a>
        </span>
    <a th:if="${roomsPage.next}" th:href="@{/admin(page=${roomsPage.end + 1})}">Next</a>
</div>
</body>
</html>