<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout-sample}">
<head>
  <meta charset="UTF-8">
  <title>카테고리 생성</title>
  <th:block layout:fragment="css">
  </th:block>
</head>
<body>
<th:block layout:fragment="content">

  <main class="main-content">
    <main class="container mt-5">
      <h1 class="text-center mt-5">카테고리 생성</h1>

      <div class="card p-4 shadow-sm mx-auto" style="max-width: 500px;">
        <form th:action="@{/admin/rooms/categories}" th:object="${category}" method="post">

          <div class="mb-3">
            <label class="form-label">카테고리 이름</label>
            <input type="text" class="form-control" th:field="*{name}" placeholder="카테고리 이름 입력" required>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
          </div>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">생성</button>
            <a href="/admin/rooms/categories" class="btn btn-secondary">목록으로 돌아가기</a>
          </div>
        </form>
      </div>
    </main>
  </main>

</th:block>
</body>
</html>
