<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout-sample}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>호스트 등록</title>
</head>
<body>
<th:block layout:fragment="content">

  <main class="main-content">
<div class="container mt-5">
  <h2 class="text-center">호스트 등록</h2>
  <form action="/admin/users/create/host" method="post">

    <!-- 사용자 ID (숨김 필드) -->
    <input type="hidden" id="userId" name="userId" th:value="${userId}">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
    <!-- 호스트 취미 -->
    <div class="mb-3">
      <label for="hobby" class="form-label">호스트 취미</label>
      <input type="text" class="form-control" id="hobby" name="hobby">
    </div>

    <!-- 호스트 소개 -->
    <div class="mb-3">
      <label for="introduction" class="form-label">호스트 소개</label>
      <textarea class="form-control" id="introduction" name="introduction" rows="3"></textarea>
    </div>

    <!-- 검증 여부 -->
    <div class="mb-3">
      <label for="isVerified" class="form-label">검증 여부</label>
      <select class="form-select" id="isVerified" name="isVerified" required>
        <option value="미검증">미검증</option>
        <option value="검증 중">검증 중</option>
        <option value="검증">검증</option>
      </select>
    </div>

    <!-- 계좌 번호 -->
    <div class="mb-3">
      <label for="accountNumber" class="form-label">계좌 번호</label>
      <input type="text" class="form-control" id="accountNumber" name="accountNumber">
    </div>

    <!-- 제출 버튼 -->
    <button type="submit" class="btn btn-primary">등록</button>

  </form>

</div>
  </main>
</th:block>
<!-- Bootstrap JS -->
</body>
</html>
