<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>숙소 수정</title>
</head>
<body>
<h2>숙소 수정</h2>
<form th:action="@{/host/room/edit/{roomId}(roomId=${room.roomId})}" method="post">
  <label>숙소 이름:</label>
  <input type="text" name="name" th:value="${room.name}" required><br>

  <label>숙소 제목:</label>
  <input type="text" name="title" th:value="${room.title}" required><br>

  <label>숙소 설명:</label>
  <textarea name="content" required th:text="${room.content}"></textarea><br>

  <label>주소:</label>
  <input type="text" name="address" th:value="${room.address}" required><br>

  <label>가격:</label>
  <input type="number" name="price" th:value="${room.price}" required><br>

  <label>최대 인원:</label>
  <input type="number" name="maxGuests" th:value="${room.maxGuests}" required><br>

  <select id="buildingType" name="buildingType" required>
    <option value="아파트">아파트</option>
    <option value="주택">주택</option>
    <option value="빌라">빌라</option>
  </select>

  <button type="submit">수정 완료</button>
</form>
</body>
</html>
