<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout-sample}">
<head>
  <meta charset="UTF-8">
  <title>편의시설 추가</title>
  <th:block layout:fragment="css">
  </th:block>
</head>
<body>
<th:block layout:fragment="content">
  <main class="main-content">
  <main class="container mt-5">
    <h1 class="text-center mt-5">새 편의시설 추가</h1>

    <div class="card p-4 shadow-sm mx-auto" style="max-width: 500px;">
      <form th:action="@{/admin/rooms/roomoptions/create}" method="post" th:object="${roomOption}">

        <div class="mb-3">
          <label class="form-label">이름</label>
          <input type="text" class="form-control" th:field="*{name}" placeholder="편의시설 이름 입력">
          <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
          <label class="form-label">카테고리</label>
          <select class="form-select" th:field="*{optionsCategory}">
            <option value="필수">필수</option>
            <option value="특징">특징</option>
            <option value="위치">위치</option>
            <option value="안전">안전</option>
          </select>
          <div class="text-danger" th:if="${#fields.hasErrors('optionsCategory')}" th:errors="*{optionsCategory}"></div>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">추가</button>
          <a href="/admin/rooms/roomoptions" class="btn btn-secondary">목록으로 돌아가기</a>
        </div>
      </form>
    </div>
  </main>
  </main>
</th:block>
</body>
</html>
