<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout-sample}">
<head>
    <meta charset="UTF-8">
    <title>편의시설 목록</title>

    <th:block layout:fragment="css">
    </th:block>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
</head>
<body>

<th:block layout:fragment="content">
    <main class="main-content">
    <main class="container mt-5">
        <h1 class="text-center mt-5">편의시설 목록</h1>

    <!-- 생성하기 버튼 -->

    <div class="text-end mb-3">
        <a th:href="@{/admin/rooms/roomoptions/test}" class="btn btn-primary">옵션별 숙소 검색</a>
        <a th:href="@{/admin/rooms/roomoptions/create}" class="btn btn-primary">새 편의시설 추가</a>
    </div>
        <!-- 편의시설 목록 -->
        <div class="table-responsive">
            <table class="table table-hover align-middle table-bordered">
                <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">이름</th>
                    <th scope="col" class="text-center">카테고리</th>
                    <th scope="col" class="text-center">액션</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="option : ${options}">
                    <td class="text-center" th:text="${option.optionId}"></td>
                    <td class="text-center" th:text="${option.name}"></td>
                    <td class="text-center" th:text="${option.optionsCategory}"></td> <!-- 카테고리 표시 -->
                    <td>
                        <div class="d-flex gap-2 justify-content-center">
                            <a th:href="@{/admin/rooms/roomoptions/update/{id}(id=${option.optionId})}" class="btn btn-warning btn-sm">수정</a>
                            <form th:action="@{/admin/rooms/roomoptions/delete/{id}(id=${option.optionId})}" method="post" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </main>
    </main>
</th:block>
</body>
</html>
