<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minbak.web.categories.CategoriesMapper">

    <!-- 1. 전체 카테고리 조회 (order 기준 정렬) -->
    <select id="findAllCategories" resultType="com.minbak.web.categories.CategoriesDto">
        SELECT *
        FROM categories
        ORDER BY `category_order` ASC
    </select>

    <!-- 2. 단일 카테고리 조회 (ID 기준) -->
    <select id="findCategoryById" parameterType="int" resultType="com.minbak.web.categories.CategoriesDto">
        SELECT category_id, name
        FROM categories
        WHERE category_id = #{categoryId}
    </select>

    <!-- 3. 새 카테고리 삽입 -->
    <insert id="createCategory" parameterType="com.minbak.web.categories.CategoriesDto" useGeneratedKeys="true" keyProperty="categoryId">
        INSERT INTO categories (name)
        VALUES (#{name})
    </insert>

    <!-- 4. 카테고리 업데이트(수정) -->
    <update id="updateCategory" parameterType="com.minbak.web.categories.CategoriesDto">
        UPDATE categories
        SET name = #{name}
        WHERE category_id = #{categoryId}
    </update>

    <!-- 5. 카테고리 삭제 -->
    <delete id="deleteCategory" parameterType="int">
        DELETE FROM categories
        WHERE category_id = #{categoryId}
    </delete>

    <!-- 카테고리 순서 수정 -->
    <update id="updateCategoryOrder">
        UPDATE categories
        SET `category_order` = #{categoryOrder}
        WHERE category_id = #{categoryId}
    </update>

</mapper>