<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minbak.web.check_books.CheckBookMapper">

    <!-- BooksDto와 RoomsDto를 연결하는 resultMap 설정 -->
    <resultMap id="BooksResultMap" type="com.minbak.web.check_books.dto.CheckBookDto">
        <id property="bookId" column="book_id" />
        <result property="status" column="status" />
        <result property="startDate" column="start_date" />
        <result property="endDate" column="end_date" />
        <result property="guestsNum" column="guests_num" />
        <result property="request" column="request" />
        <result property="userId" column="user_id" />
        <result property="roomId" column="room_id" />
        <association property="room" column="room_id" select="findRoomsByRoomId" />
    </resultMap>

    <select id="findRoomsByRoomId" resultType="com.minbak.web.check_books.dto.CheckBookRoomDto">
        select * from rooms
        where room_id=#{room_id}
    </select>

    <!-- 예약 목록을 가져오는 쿼리 -->
    <select id="selectBooks" resultMap="BooksResultMap">
        select *from books
        where user_id = #{userId}
    </select>

    <!-- 전체 예약 수를 세는 쿼리 -->
    <select id="countBooks" resultType="int">
        SELECT COUNT(*)
        FROM books
        WHERE user_id = #{userId}
    </select>



    <select id="findRoomImageUrlByRoomId">
        SELECT
        file_url
        FROM
        image_files
        WHERE
        entity_type = 'rooms'
        AND entity_id = #{roomId}
        LIMIT 1
    </select>

    <select id="findRoomImageUrlsByRoomId" resultType="String">
        SELECT
        file_url
        FROM
        image_files
        WHERE
        entity_type = 'rooms'
        AND entity_id = #{roomId}
    </select>


    <select id="findUserByUserId" resultType="com.minbak.web.users.UserDto">
        SELECT *
        from users
        WHERE
        user_id=#{userId}

    </select>

    <select id="findBookByBookId" resultType="com.minbak.web.check_books.dto.CheckBookDto" resultMap="BooksResultMap">
        select *
        from books
        where
        book_id=#{bookId}
    </select>

    <select id="findPaymentByBookId" resultType="com.minbak.web.payments.PaymentDto">
        select *
        from payments
        where
        book_id=#{bookId}
        limit 1
    </select>

    <select id="findUserUrlByUserId" resultType="String">
        select file_url
        from image_files
        where
        entity_type='users' and entity_id=#{userId}
        order by uploaded_at desc
        limit 1
    </select>

    <select id="findHostByUserId" resultType="com.minbak.web.check_books.dto.CheckBookHostDto">
        select *
        from host
        where
        user_id=#{userId}
    </select>




</mapper>