<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minbak.web.file_upload.FileMapper">

    <insert id="insertImageFile">
        INSERT INTO image_files (file_url, file_name, file_size,user_id, entity_type, entity_id, uploaded_at)
        VALUES (#{fileUrl}, #{fileName}, #{fileSize}, #{userId}, #{entityType}, #{entityId}, NOW());
    </insert>

    <select id="findImagesByRoomId" resultType="com.minbak.web.file_upload.ImageFileDto">
        SELECT * FROM image_files WHERE entity_type = 'rooms' AND entity_id = #{roomId}
    </select>

    <select id="findLicenseImagesUrlByHostId">
        SELECT file_url FROM image_files WHERE entity_type = 'license' AND entity_id = #{hostId} ORDER BY image_id DESC
    </select>
</mapper>
