<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minbak.web.host_room.HostRoomMapper">


    <!--숙소 목록 조회-->
    <select id="findRoomsByHost" parameterType="int" resultType="com.minbak.web.host_room.HostRoomDTO">
        SELECT * FROM rooms WHERE user_id = #{userId}
    </select>

    <!-- 숙소 정보 불러오기 -->
    <select id="findRoomById" parameterType="int" resultType="com.minbak.web.host_room.HostRoomDTO">
        SELECT * FROM rooms WHERE room_id = #{roomId};
    </select>



<!--    &lt;!&ndash;숙소 추가&ndash;&gt;-->
<!--    <insert id="insertHostRoom" parameterType="com.minbak.web.host_room.HostRoomDTO">-->
<!--        INSERT INTO rooms (user_id, name, title, content, address, price, max_guests, building_type)-->
<!--        VALUES (#{userId}, #{name}, #{title}, #{content}, #{address}, #{price}, #{maxGuests}, #{buildingType});-->
<!--    </insert>-->
<!--    &lt;!&ndash; 숙소 수정 &ndash;&gt;-->
<!--    <update id="updateHostRoom" parameterType="com.minbak.web.host_room.HostRoomDTO">-->
<!--        UPDATE rooms-->
<!--        SET name = #{name}, title = #{title}, content = #{content},-->
<!--        address = #{address}, price = #{price}, max_guests = #{maxGuests}, building_type = #{buildingType}-->
<!--        WHERE room_id = #{roomId};-->
<!--    </update>-->
<!--    &lt;!&ndash;숙소 삭제>&ndash;&gt;-->
<!--    <delete id="deleteHostRoom" parameterType="int">-->
<!--        DELETE FROM rooms WHERE room_id = #{roomId};-->
<!--    </delete>  사용 안하기로 결정 -->

</mapper>