<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minbak.web.messages.MessageMapper">

<!--    유저조회해서 클릭하면 해당 유저의 메세지목록 전부 다 출력-->
<!--    필요쿼리문 : 유저 조회, 해당 유저 메세지 조회, -->

    <!-- 유저 조회 -->
    <select id="findAllUsers" resultType="com.minbak.web.users.UserDto">
        SELECT user_id, name
        FROM users
    </select>

    <!--샌더,리시버에 00번 아이디가 들어간 튜플 전체조회    -->
    <select id="findMessagesById" resultType="com.minbak.web.messages.MessageDto">
        SELECT message_id, sender_id, receiver_id, content, sent_at
        FROM message
        WHERE sender_id = #{user_id} OR receiver_id = #{user_id}

    </select>

</mapper>