<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
            PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.minbak.web.review.ReviewMapper">

        <!-- 리뷰 목록 조회 -->
        <select id="findAllReview" resultType="com.minbak.web.review.ReviewDto">
            SELECT * FROM review
        </select>

        <!-- 페이지네이션을 적용하여 리뷰 목록 가져오기 -->
        <select id="getReviews" resultType="com.minbak.web.review.ReviewDto">
            SELECT review.*, users.email FROM review
            JOIN users ON users.user_id = review.review_id
            ORDER BY review_id DESC  <!-- 최신 리뷰가 먼저 보이도록 정렬 -->
            LIMIT #{limit} OFFSET #{offset};  <!-- 페이지네이션 적용 -->
        </select>


    <select id="getReviewScore" resultType="map">
        SELECT score, COUNT(1) AS count FROM review GROUP BY score ORDER BY score DESC;
    </select>

    <!-- 검색어에 맞는 총 후기 수를 가져오는 쿼리 -->
    <select id="getTotalReviewCount" resultType="Integer">
        SELECT COUNT(*) FROM review
        WHERE content LIKE CONCAT('%', #{search}, '%')  <!-- 리뷰 내용에서 검색어를 포함한 항목들만 찾기 -->
    </select>

    <!-- 검색어에 맞는 리뷰 리스트를 가져오는 쿼리 -->
    <select id="searchReview" resultType="com.minbak.web.review.ReviewDto">
        SELECT *
        FROM review
        WHERE content LIKE CONCAT('%', #{search}, '%')  <!-- 리뷰 내용에서 검색어를 포함한 항목들만 찾기 -->
        ORDER BY created_at DESC  <!-- 최신순으로 정렬 -->
        LIMIT #{limit} OFFSET #{offset};  <!-- 페이지네이션 적용 -->
    </select>

        <!-- 리뷰 상세 조회 (특정 리뷰 조회) -->
        <select id="findReviewById" resultType="com.minbak.web.review.ReviewDto">
            SELECT review.*, users.email FROM review
            JOIN users ON review.user_id = users.user_id
            WHERE review_id = #{reviewId}
        </select>

        <!-- 리뷰 수정 -->
        <update id="editReview">
            UPDATE review
            SET
            content = #{content},
            score = #{score}
            <!--        updated_at = NOW()-->
            WHERE review_id = #{reviewId}
        </update>

        <!-- 리뷰 삭제 -->
        <delete id="deleteReview">
            DELETE FROM review
            WHERE review_id = #{reviewId}
        </delete>




    <!-- 호스트가 아직 답변하지 않은 리뷰 목록을 조회하는 쿼리 -->
    <select id="findUnansweredReviewsByHost" resultType="com.minbak.web.review.ReviewDto"> <!-- 해당 호스트의 리뷰 중에서 호스트 답변이 없는 리뷰만 조회 -->
        SELECT * FROM review
        WHERE host_id = #{hostId}  <!-- 호스트 ID로 필터링 -->
        AND host_reply IS NULL  <!-- 호스트 답변이 NULL인 리뷰만 조회 -->
    </select>

    <!-- 호스트가 특정 리뷰에 대한 답변을 남기는 SQL -->
    <update id="updateHostReply"> <!-- 주어진 리뷰 ID에 대해 호스트의 답변을 업데이트 -->
        UPDATE review
        SET host_reply = #{hostReply}  <!-- 호스트의 답변을 저장 -->
        WHERE review_id = #{reviewId}  <!-- 특정 리뷰 ID에 해당하는 리뷰를 업데이트 -->
    </update>


    </mapper>