<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minbak.web.host_pages.RoomOptionMapper">

    <!-- 숙소에 옵션 저장 -->
    <insert id="insertRoomOption">
        INSERT INTO rooms_room_options (room_id, option_id)
        VALUES (#{roomId}, #{optionId})
    </insert>

    <!-- 특정 숙소의 옵션 가져오기 -->
    <select id="getOptionsByRoomId" parameterType="int" resultType="com.minbak.web.host_pages.dto.OptionDto">
    SELECT o.option_id, o.name, o.options_category AS optionCategory
    FROM rooms_room_options ro
    JOIN room_options o ON ro.option_id = o.option_id
    WHERE ro.room_id = #{roomId}
    </select>

</mapper>