<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/layout-sample}">
<head>
    <meta charset="UTF-8">
    <title>Host Management</title>
    <th:block layout:fragment="css">
        <style>
            .main-content {
                width: 1680px;
                height: 100vh;
                overflow-y:auto;
                padding: 20px;
                margin: 50px auto;
            }
        </style>
    </th:block>
<!--    자바스크립트-->
    <script defer>

        function validateForm() {
            const userId = document.getElementById('userId').value;
            const userEmail = document.getElementById('userEmail').value;

            console.log('userId:', userId);
            console.log('userEmail:', userEmail);

            // 유저 ID와 이메일 둘 중 하나만 입력되도록 검증
            if (userId && userEmail) {
                alert('User ID와 User Email 중 하나만 입력 가능합니다.');
                return false; // 폼 제출을 막음
            }
            return true; // 폼 제출 허용
        }

 // 선택된 받는이 옵션에 따라 입력 필드를 표시하거나 숨김
        function toggleReceiverInput() {
            var receiverOption = document.getElementById('receiverOptionId').value;
            var receiverIdInput = document.getElementById('receiverIdInput');
            var receiverEmailInput = document.getElementById('receiverEmailInput');

            if (receiverOption === 'id') {
                receiverIdInput.style.display = 'block'; // 유저 id 입력 필드 보이기
                receiverEmailInput.style.display = 'none'; // 유저 이메일 입력 필드 숨기기
            } else {
                receiverIdInput.style.display = 'none'; // 유저 id 입력 필드 숨기기
                receiverEmailInput.style.display = 'block'; // 유저 이메일 입력 필드 보이기
            }
        }

    // 페이지 로드 시 기본 상태 설정 (유저 id 입력 필드 표시)
        window.onload = function() {
            toggleReceiverInput();
        };

        function inputToday(){
            event.preventDefault();
              let today = new Date();
                const dd = String(today.getDate()).padStart(2, '0');
                const mm = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작
                const yyyy = today.getFullYear();
                let todayDate = yyyy + '-' + mm + '-' + dd; // "yyyy-mm-dd" 형식으로
            document.getElementById('startDate').value = todayDate;
        }

        function inputWeek(){
            event.preventDefault();
                       // 일주일 전 날짜 계산
                       let today = new Date();
                today.setDate(today.getDate() - 6);
                const weekDayStart = String(today.getDate()).padStart(2, '0');
                const weekMonth = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작
                const weekYear = today.getFullYear();
                let weekDateStart = weekYear + '-' + weekMonth + '-' + weekDayStart;
            document.getElementById('startDate').value = weekDateStart;
        }

         function inputMonth(){
             event.preventDefault();
                         // 한달 전 날짜 계산
                         let today = new Date();
                today.setMonth(today.getMonth() - 1); // 한달을 뺍니다.
                const monthDayStart = String(today.getDate()).padStart(2, '0');
                const monthMonth = String(today.getMonth() + 1).padStart(2, '0'); // 월은 0부터 시작
                const monthYear = today.getFullYear();
                let monthDateStart = monthYear + '-' + monthMonth + '-' + monthDayStart;
            document.getElementById('startDate').value = monthDateStart;
        }

         function inputYear(){
             event.preventDefault();
                       // 1년 전 날짜 계산
                       let today = new Date();
                today.setFullYear(today.getFullYear() - 1); // 1년을 뺍니다.
                const yearDayStart = String(today.getDate()).padStart(2, '0');
                const yearMonth = String(today.getMonth() + 1).padStart(2, '0');
                const yearYear = today.getFullYear();
                let yearDateStart = yearYear + '-' + yearMonth + '-' + yearDayStart;

            document.getElementById('startDate').value = yearDateStart;
        }

    </script>
</head>
<body>
<th:block layout:fragment="content">

    <main class="main-content">
        <!-- 메시지 생성 및 에러메시지 출력 -->
        <div class="container mt-5">
            <!-- 에러 메시지 출력 -->
            <div th:if="${errorMessage != null}" class="alert alert-danger">
                <p th:text="${errorMessage}"></p>
            </div>

            <!-- 메시지 생성 성공 메시지 출력 -->
            <div th:if="${createMessageOk != null}" class="alert alert-success">
                <p th:text="${createMessageOk}"></p>
            </div>
<!--            삭제성공 메세지-->
            <div th:if="${deleteOk != null}" class="alert alert-success">
                <p th:text="${deleteOk}"></p>
            </div>
            <div th:if="${blindOk != null}" class="alert alert-success">
                <p th:text="${blindOk}"></p>
            </div>

            <!-- 메시지 생성 폼 -->
            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#createMessageFormCollapse" aria-expanded="false" aria-controls="createMessageFormCollapse">
                메세지 보내기
            </button>

            <div class="collapse" id="createMessageFormCollapse">
                <div class="card card-body mt-3">
                    <form action="/admin/message/create" method="post" id="createMessageForm">
                        <div class="mb-3">
                            <label for="receiverOptionId" class="form-label">받는이 옵션</label>
                            <select id="receiverOptionId" class="form-control" onchange="toggleReceiverInput()">
                                <option value="id">유저 ID</option>
                                <option value="email">유저 이메일</option>
                            </select>
                        </div>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                        <!-- 받는이(유저 ID) -->
                        <div id="receiverIdInput" style="display:block;">
                            <label for="createMessageById" class="form-label">받는이(유저 ID)</label>
                            <input type="number" class="form-control" name="receiverId" id="createMessageById" placeholder="받는이 ID 입력">
                        </div>

                        <!-- 받는이(유저 이메일) -->
                        <div id="receiverEmailInput" style="display:none;">
                            <label for="createMessageToReceiver" class="form-label">받는이(유저 이메일)</label>
                            <input type="email" class="form-control" name="receiverEmail" id="createMessageToReceiver" placeholder="받는이 이메일 입력">
                        </div>

                        <div class="mb-3">
                            <label for="createMessageContent" class="form-label">메세지 내용</label>
                            <input type="text" name="content" class="form-control" id="createMessageContent" required>
                        </div>

                        <div id="errorMessage" style="color: red; font-size: 0.875em; display: none;"></div>

                        <button type="submit" class="btn btn-primary">보내기</button>
                    </form>
                </div>
            </div>

        </div>

        <!-- 메시지 필터 및 검색 조회 -->
        <div class="mb-4 mt-5">
            <form method="post" th:action="@{/admin/message/list}" th:object="${requestMessageFilterDto}" onsubmit="return validateForm()">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="messageId" class="form-label">Message ID</label>
                        <input type="number" id="messageId" name="messageId" class="form-control border" placeholder="Message ID" th:value="${messageFilterDto.messageId} != null ? ${messageFilterDto.messageId} : '' ">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="userId" class="form-label">User ID</label>
                        <input type="number" id="userId" name="userId" class="form-control border" placeholder="User ID" th:value="${messageFilterDto.userId} != null ? ${messageFilterDto.userId} : '' ">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="userEmail" class="form-label">User Email</label>
                        <input type="email" id="userEmail" name="userEmail" class="form-control border" placeholder="User Email" th:value="${messageFilterDto.userEmail} != null ? ${messageFilterDto.userEmail} : '' ">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="keyword" class="form-label">Keyword</label>
                        <input type="text" id="keyword" name="keyword" class="form-control border" placeholder="Search by keyword" th:value="${messageFilterDto.keyword} != null ? ${messageFilterDto.keyword} : '' ">
                    </div>
                </div>

                <div class="d-flex mb-3">
                    <button type="button" class="btn btn-secondary me-2" onclick="inputToday(event)">오늘</button>
                    <button type="button" class="btn btn-secondary me-2" onclick="inputWeek(event)">일주일</button>
                    <button type="button" class="btn btn-secondary me-2" onclick="inputMonth(event)">한달</button>
                    <button type="button" class="btn btn-secondary" onclick="inputYear(event)">1년</button>
                </div>

                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="startDate" class="form-label">Start Date</label>
                        <input type="date" id="startDate" name="startDate" class="form-control border" th:value="${messageFilterDto.startDate} != null ? ${messageFilterDto.startDate} : '' ">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="endDate" class="form-label">End Date</label>
                        <input type="date" id="endDate" name="endDate" class="form-control border" th:value="${messageFilterDto.endDate} != null ? ${messageFilterDto.endDate} : '' ">
                    </div>

                    <div class="col-md-2 mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" id="userName" name="userName" class="form-control border" placeholder="User Name" th:value="${messageFilterDto.userName} != null ? ${messageFilterDto.userName} : '' ">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="userPhoneNumber" class="form-label">User Phone Number</label>
                        <input type="text" id="userPhoneNumber" name="userPhoneNumber" class="form-control border" placeholder="User Phone Number" th:value="${messageFilterDto.userPhoneNumber} != null ? ${messageFilterDto.userPhoneNumber} : '' ">
                    </div>


                        <div class="col-md-1 mb-3">
                            <div>
                                <label>활성/비활성</label>
                                <br>
                                <input type="radio" id="isBlindedInactive" name="isBlinded" value="0" th:checked="${messageFilterDto.isBlinded == false}"> 활성
                                <br>
                                <input type="radio" id="isBlindedActive" name="isBlinded" value="1" th:checked="${messageFilterDto.isBlinded == true}"> 비활성
                            </div>
                        </div>

                </div>

                <button type="submit" class="btn btn-success">검색</button>
            </form>
        </div>

        <!-- 메시지 목록 테이블 -->
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>메시지 ID</th>
                    <th>보낸 사람 ID</th>
                    <th>보낸 사람 이름</th>
                    <th>보낸 사람 이메일</th>
                    <th>보낸 사람 전화번호</th>
                    <th>받은 사람 ID</th>
                    <th>받은 사람 이름</th>
                    <th>받은 사람 이메일</th>
                    <th>받은 사람 전화번호</th>
                    <th>메시지 내용</th>
                    <th>보낸 시간</th>
                    <th>활성/비활성</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="message : ${messagePageDto.objects}">
                    <td th:text="${message.messageId}"></td>
                    <td th:text="${message.senderId}"></td>
                    <td th:text="${message.senderName}"></td>
                    <td th:text="${message.senderEmail}"></td>
                    <td th:text="${message.senderPhoneNumber}"></td>
                    <td th:text="${message.receiverId}"></td>
                    <td th:text="${message.receiverName}"></td>
                    <td th:text="${message.receiverEmail}"></td>
                    <td th:text="${message.receiverPhoneNumber}"></td>
                    <td>
                        <div class="content-preview">
                            <!-- content를 10자까지 축약해서 보여줌 -->
                            <span th:text="${#strings.abbreviate(message.content, 10)}"></span>
                        </div>
                        <!-- 각 메시지에 고유 ID를 부여하여, 클릭한 메시지만 펼쳐지도록 설정 -->
                        <button class="btn btn-link p-0" type="button" data-bs-toggle="collapse"
                                th:data-bs-target="'#content-full-' + ${message.messageId}"
                                aria-expanded="false" th:aria-controls="'content-full-' + ${message.messageId}">
                            상세보기
                        </button>
                        <div class="collapse" th:id="'content-full-' + ${message.messageId}">
                            <div class="card card-body mt-2">
                                <span th:text="${message.content}"></span>
                            </div>
                        </div>
                    </td>
                    <td th:text="${#temporals.format(message.sentAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <form th:action="@{/admin/message/list/isBlinded/{message_id}(message_id=${message.messageId})}" method="get">
                        <button type="submit" class="btn btn-dark btn-sm"><span  th:text="${message.isBlinded == 0 ? '활성' :'비활성'}"></span></button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/admin/message/list/delete/{message_id}(message_id=${message.messageId})}" method="get">
                            <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- 페이지네이션 -->
        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
            <ul class="pagination">
                <li class="page-item" th:classappend="${messagePageDto.hasPrev} ? '' : 'disabled'">
                    <a class="page-link" th:href="@{/admin/message/list?page={page}(page=${messagePageDto.currentPage} - 1)}">«</a>
                </li>
                <li class="page-item" th:each="i : ${#numbers.sequence(messagePageDto.startPage, messagePageDto.endPage)}">
                    <div th:if="${i != 0}">
                    <a class="page-link"  th:classappend="${messagePageDto.currentPage == i} ? 'active' : ''" th:href="@{/admin/message/list?page={i}(i=${i})}" th:text="${i}"></a>
                    </div>
                </li>
                <li class="page-item" th:classappend="${messagePageDto.hasNext} ? '' : 'disabled'">
                    <a class="page-link" th:href="@{/admin/message/list?page={page}(page=${messagePageDto.currentPage} + 1)}">»</a>
                </li>
            </ul>
        </nav>
    </main>
</th:block>
<th:block layout:fragment="js">

</th:block>
</body>
</html>